
@{
	#region 2.在视图中做逻辑判断，如果是pjax请求，则Layout=null
	// 2.在视图中做逻辑判断，如果是pjax请求，则Layout=null
	//if (!string.IsNullOrEmpty(Request.Headers["X-PJAX"]) && Convert.ToBoolean(Request.Headers["X-PJAX"]))
	//{
	//	Layout = null;
	//}
	//else
	//{
	//	Layout = "~/Views/Shared/_LayoutGoods.cshtml";
	//}
	#endregion

	// 3.发现 Index.cshtml, Cat.cshtml, Dog.cshtml 均需要此段相同判断代码，
	// 其实也可以指定 Layout = "~/Views/Shared/_LayoutGoods.cshtml";
	// 再在 _LayoutGoods 中做pjax判断,如果是pjax,则 只返回 @RenderBody()
	Layout = "~/Views/Shared/_LayoutGoods.cshtml";
}

<div id="content"><h4>首页内容</h4></div>