
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Danmaku</title>
</head>
<body>
	<p>mwfmfwoffwrmm</p><br /><p>fmwofmwrpfrwf</p>
	<script src="~/js/danmaku.js"></script>
</body>
</html>
