@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Home 控制器下的 Index 方法</title>
</head>
<body>
	<h1>欢迎!</h1>
	<div>这个消息来自 Home 控制器下的 Index 的视图文件 index.cshtml </div>
	<table>
		@foreach (var employee in Model.Employees)
		{
			<tr>
				<td>@employee.ID</td>
				<td>@employee.Name</td>
			</tr>
		}
	</table>
</body>
</html> 