@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>我是布局页</title>
</head>
<body>
我是布局页
<div>
	@RenderBody()
</div>
</body>
</html>
